<article class="{{ class }}">
	<div class="relative">
		{% render 'image',
			image: product.featured_image,
	    preload: true,
	    fit: 'cover',
	    sizes: sizes,
	    use_padding: true
	  %}
	  <a class="absolute inset-0 z-10 block" tabindex="-1" aria-hidden="true" title="{{ product.title }}" href="{{ product.url | within: collection }}"></a>
	</div>

	<h3 class="mt-4 uppercase product-card--title"><a class="text-link" title="{{ product.title }}" href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
	<p class="mt-1">{{ product.metafields.descriptors.subtitle }}</p>
	<p class="mt-4">{{ product.price | money_without_trailing_zeros }}</p>
</article>