<article class="{{ class }} product-card">
	{% if card_product %}
		<div class="relative product-card__image-wrapper">
			<div class="relative overflow-hidden">
				{% render 'image',
					image: card_product.featured_image,
			    preload: true,
			    wrapper_class: 'product-card__image'
			    fit: 'cover',
			    sizes: sizes,
			    use_padding: true
			  %}

			  {% for image in card_product.images %}
					{% if image.alt contains 'hover' %}
						{% render 'image',
							image: image,
					    preload: true,
					    fit: 'cover',
					    sizes: sizes,
					    use_padding: false,
					    class: 'product-card__image absolute inset-0 w-full h-full'
					  %}
					  {% break %}
				  {% endif %}
			  {% endfor %}
			</div>
			<a class="absolute inset-0 z-10 block" tabindex="-1" aria-hidden="true" title="{{ card_product.title }}" href="{{ card_product.url | within: collection }}"></a>
		</div>

		<div class="relative">
			<a class="absolute inset-0 z-10" title="{{ card_product.title }}" href="{{ card_product.url | within: collection }}"></a>
			{% if card_product.metafields.descriptors.title %}
				<h3 class="mt-4 uppercase product-card--title">{{ card_product.metafields.descriptors.title }}</h3>
	    {% if card_product.metafields.descriptors.subtitle %}
	       <p class="mt-1">{{ card_product.metafields.descriptors.subtitle }}</p>{% endif %}
			{% else %}
				<h3 class="mt-4 uppercase product-card--title">{{ card_product.title }}</h3>
			{% endif %}
			<p class="mt-4">{% render 'price', product: card_product %}</p>
		</div>
	{% else %}

		<div class="bg-black/10">
			{{ 'product-1' | placeholder_svg_tag }}
		</div>

		<h3 class="mt-4 uppercase product-card--title">Product Title</h3>
		<p class="mt-1">Product subtitle</p>
		<p class="mt-4">$1000</p>
	{% endif %}
</article>