<div class="ml-1 mt-1">
  <modal-opener
    class="product-popup-modal__opener no-js-hidden quick-add-hidden"
    data-modal="#PopupModal-{{ block.id }}"
    {{ block.shopify_attributes }}
  >
    <button
      id="ProductPopup-{{ block.id }}"
      class="text-link hover:underline product-popup-modal__button link"
      type="button"
      aria-haspopup="dialog"
    >
      {{ block.settings.sizing_text | default: block.settings.sizing_page.title }}
    </button>
  </modal-opener>
  <a href="{{ block.settings.sizing_page.url }}" class="text-link product-popup-modal__button link no-js">
    {{- block.settings.sizing_text -}}
  </a>
</div>