{{ "bg-violet.svg" | asset_url | preload_tag: as: 'image', crossorigin: 'anonymous', type: "image/svg+xml" }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

{% style %}
  .template-cart .cart-contents {
    min-height: calc(100vh - var(--header-height) - var(--announcement-bar-height));
  }

  .template-cart .cart-contents.is-empty {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
  }

  .cart-contents {
      background-image: url({{ 'bg-pink.svg' | asset_url }});
  }
  .cart-contents.is-empty {
    background-image: url({{ 'bg-lavender.svg' | asset_url }});
  }
{% endstyle %}


<div id="CartContents" class="cart-contents {% if cart == empty %} is-empty{% endif %}">
  <div class="cart-contents__inner text-center py-10 px-10 md:pt-14 md:pb-21 md:px-14 w-full  flex-col overflow-hidden" role="dialog" aria-modal="true" aria-label="{{ 'sections.cart.title' | t }}" tabindex="-1">


    {%- if cart == empty -%}
        <h2 class="h5 max-w-sm md:h3 lg:h2 md:max-w-screen-md lg:max-w-screen-lg mx-auto text-center">Sick of smoothies? Us too. There’s a tastier way to get plant-based protein.</h2>

        <a title="Continue Shopping" href="{{ routes.collections_url }}" class="mt-5 md:mt-14 button button--on-lavender mx-auto">
          {{ 'general.continue_shopping' | t }}
        </a>
    {% else %}
      <h2 class="h5 mx-auto">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} in your bag</h2>
      <cart-items {% if cart == empty %}class=" is-empty"{% endif %}>
        <form action="{{ routes.cart_url }}" id="CartContents-Form" class="cart__contents cart-cart-contents__form" method="post">
          <div id="CartContents-CartItems" class="cart-contents__contents js-contents">
            {%- if cart != empty -%}
              <div class="cart-contents__cart-items-wrapper">
                <table class="cart-items w-full" role="table">

                  <tbody role="rowgroup" class="body-lg-b w-full">
                    {%- for item in cart.items -%}

                    {% liquid
                      if item.product.metafields.colors.secondary != blank and item.product.metafields.colors.blue_text_on_secondary == true
                        assign text_class = 'text-blue'
                      else
                        assign text_class = 'text-white'
                      endif 
                    %}
                      <tr id="CartContents-Item-{{ item.index | plus: 1 }}" class="grid grid-cols-3 gap-3 lg:grid-cols-15 items-center cart-item h-[70px] my-8 pl-9 pr-6 w-full rounded-full bg-blue {{ text_class }}" style="background: {{ item.product.metafields.colors.secondary }}" role="row">
                        <td class="flex items-center lg:col-span-6">
                          <!-- Image -->
                          <div class="cart-item__media pl-2 shrink-0" role="cell">
                            <div class="relative z-0">
                              {% if item.image %}
                                {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                                <a title="{{ item.title }}" href="{{ item.url }}" class="cart-item__link z-10" tabindex="-1" aria-hidden="true"> </a>
                                <img class="cart-item__image block bg-light-blue mx-auto -mt-[5px] -mb-[5px]"
                                  src="{{ item.image | image_url: width: 80 }}"
                                  alt="{{ item.image.alt | escape }}"
                                  loading="lazy"
                                  width="80"
                                  height="80"
                                  style="background-color: {{ item.product.metafields.colors.primary }}" 
                                >
                              {% endif %}
                            </div>
                          </div>

                          <div class="cart-item__details hidden lg:block ml-10" role="cell">
                            <p class="cart-item__name text-left">
                              <a title="{{ item.title }}" href="{{ item.url }}" class="">   
                                {{ item.product.metafields.descriptors.short_title | default: item.title }}
                              </a>
                            </p>
                          </div>
                          
                        {%- if item.product.has_only_default_variant == false or item.properties.size > 0 or item.selling_plan_allocation != nil -%}
                            <div class="cart-item__details hidden lg:block ml-16  xl:ml-24" role="cell">
                              <dl>
                                {%- if item.product.has_only_default_variant == false -%}
                                  {%- for option in item.options_with_values -%}
                                    <div class="product-option">
                                      <dt>{{ option.name }}: </dt>
                                      <dd>{{ option.value }}{% unless forloop.last %}, {% endunless %}</dd>
                                    </div>
                                  {%- endfor -%}
                                {%- endif -%}

                                {%- for property in item.properties -%}
                                  {%- assign property_first_char = property.first | slice: 0 -%}
                                  {%- if property.last != blank and property_first_char != '_' -%}
                                    <div class="product-option">
                                      <dt>{{ property.first }}: </dt>
                                      <dd>
                                        {%- if property.last contains '/uploads/' -%}
                                          <a title="{{ item.title }}" href="{{ property.last }}" class="link" target="_blank" aria-describedby="a11y-new-window-message">
                                            {{ property.last | split: '/' | last }}
                                          </a>
                                        {%- else -%}
                                          {{ property.last }}
                                        {%- endif -%}
                                      </dd>
                                    </div>
                                  {%- endif -%}
                                {%- endfor -%}
                              </dl>

                              <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                            </div>
                          {%- endif -%}

                        </td>

                        {% comment %}

                        <td class="cart-item__item-price lg:col-span-3 h5 hidden lg:block text-center">

                          {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices">
                              <span class="sr-only">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="sr-only">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div>
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}
                        </td>
                        {% endcomment %}


                        <td class="cart-item__totals h5 text-center lg:col-span-3" role="cell">
                          <div class="loading-overlay hidden">
                            <div class="loading-overlay__spinner">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                          </div>

                          <div class="cart-item__price-wrapper">
                            {%- if item.original_price != item.final_price -%}
                              <div class="cart-item__discounted-prices">
                                <span class="sr-only">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price price price--end">
                                  {{- item.original_line_price | money -}}
                                </s>
                                <span class="sr-only">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <strong class="price price--end">
                                  {{ item.final_line_price | money }}
                                </strong>
                              </div>
                            {%- else -%}
                              <div class="price price--end">
                                {{ item.original_line_price | money }}
                              </div>
                            {%- endif -%}

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="sr-only">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.variant.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="sr-only">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.variant.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.variant.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </td>


                        <td class="cart-item__discounts h6 text-center hidden lg:block lg:col-span-3">
                          {% if item.discounts.size > 0 %}
                            <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                              {%- for discount in item.discounts -%}
                                <li class="discounts__discount">
                                  {%- render 'icon-discount' -%}
                                  {{ discount.title }}
                                </li>
                              {%- endfor -%}
                            </ul>
                          {% endif %}
                        </td>


                        <td class="cart-item__quantity h6 relative lg:col-span-3" role="cell">
                          <div class="cart-item__quantity-wrapper flex items-center justify-end">
                            <quantity-input class="quantity bg-white rounded-full p-1 w-28 space-x-1 text-blue">
                              <button class="quantity__button no-js-hidden button flex-0 p-0 w-8 h-8" name="minus" type="button">
                                <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                {% render 'icon-minus' %}
                              </button>
                              <input class="quantity__input flex-1 "
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                min="0"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                              <button class="quantity__button no-js-hidden button flex-0 p-0 w-8 h-8" name="plus" type="button" {% if item.variant.inventory_policy == 'deny' and item.quantity >= item.variant.inventory_quantity %}disabled="disabled"{% endif %}>
                                <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>

                            <cart-remove-button class="ml-6 hidden md:block" id="CartContents-Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                              <button class="block w-7 h-7" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                {% render 'icon-close' %}
                              </button>
                            </cart-remove-button>
                          </div>

                          <div id="CartContents-LineItemError-{{ item.index | plus: 1 }}" class="cart-item__error absolute top-15 left-0 right-0  flex" role="alert">
                            <small class="cart-item__error-text"></small>
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                              <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                              <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                            </svg>
                          </div>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
            <p id="CartContents-LiveRegionText" class="sr-only" role="status"></p>
            <p id="CartContents-LineItemStatus" class="sr-only" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
          </div>
          <div id="CartContents-CartErrors" role="alert"></div>
        </form>
      </cart-items>

      <!-- Drawer Footer -->
      <div class="cart-contents__footer mt-6 space-y-4">
        {%- if settings.show_cart_note -%}
          <div> {{ cart.note }} </div>
        {%- endif -%}

        <!-- Start blocks-->
        <!-- Attributes-->
        <div class="space-y-4" {{ block.shopify_attributes }}>

          {%- if cart.cart_level_discount_applications.size > 0 -%}
            <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
              {%- for discount in cart.cart_level_discount_applications -%}
                <li class="discounts__discount discounts__discount--end">
                  {%- render 'icon-discount' -%}
                  {{ discount.title }}
                  (-{{ discount.total_allocated_amount | money }})
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>

        <!-- Subtotals -->
        <div class="space-y-4 body-md-b" role="status">
          <p class="totals__subtotal-value h4">{{ cart.total_price | money_with_currency }}</p>
          <h3 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}
            <span class="tax-note caption-large rte">(
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
              )
            </span>
          </h3>
        </div>

        <!-- CTAs -->
        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <noscript>
            <button type="submit" class="cart__update-button button button--secondary button--on-lavender" form="CartContents-Form">
              {{ 'sections.cart.update' | t }}
            </button>
          </noscript>

          <button type="submit" id="CartContents-Checkout" class="cart__checkout-button button button--on-lavender" name="checkout" form="CartContents-Form"{% if cart == empty %} disabled{% endif %}>
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>

      <!-- End Drawer Footer -->
      </div>

    {% endif %}
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>