{{ 'component-featured-products-card.css' | asset_url | stylesheet_tag }}
{{ 'component-featured-collection.css' | asset_url | stylesheet_tag }}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script type="application/javascript">
  loadDynamicScriptTag("https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js", function() { document.dispatchEvent(new Event('swiperLoaded')); })
  loadDynamicScriptTag("{{ 'product-form.js' | asset_url }}")
  loadDynamicScriptTag("{{ 'component-featured-collection.js' | asset_url }}")
</script>

{% assign collection = section.settings.collection %}

{% assign aspect_ratio = collection.products[0].featured_image.aspect_ratio %}

<featured-collection class="block my-15 md:my-25 lg:my-35">
  <section id="FeaturedProducts-{{ section.id }}" data-section="{{ section.id }}">

    <div class="mt-9 mb-6 md:mb-9 px-padding-sm lg:px-20 flex justify-between">
      <h2 class="uppercase">{{ section.settings.heading | default: collection.title }}</h2>
      {% if collection %}<a class="text-link" href="{{ collection.url }}">Shop All</a>{% endif %}
    </div>

      <div class="collection-swiper relative z-[1] overflow-hidden px-20">
        <ul class="flex swiper-wrapper">
          {%- for product in collection.products -%}
          {% liquid
            assign description = product.metaields.descriptors.subtitle
            assign title = product.title
          %}
            <li class="w-1/6 swiper-slide">
              {% render 'product-card',
                product: product,
                collection: collection,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id,
                sizes: "67vw, (min-width: 768px) 30vw, (min-width: 1024px) 20vw, (min-width: 1280px) 17vw, (min-width: 1440px) 15vw"
              %}
            </li>
          {%- else -%}
            {%- for i in (1..8) -%}
              <li class="w-1/6 swiper-slide">
                {% render 'product-card' %}
              </li>
            {%- endfor -%}
          {%- endfor -%}
        </ul>
        <div class="collection-prev w-5 lg:w-15 flex items-center justify-center">{% render 'arrow.svg', class: 'absolute top-1/2 left-1 -translate-y-1/2 rotate-180 w-2 lg:w-6' %}</div>
        <div class="collection-next w-5 lg:w-15 flex items-center justify-center">{% render 'arrow.svg', class: 'absolute top-1/2 right-1 -translate-y-1/2 w-2 lg:w-6' %}</div>

      </div>
  </section>
</featured-collection>

{% schema %}

{
  "name": "Featured Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {

      "type": "text",
      "id": "heading",
      "default": "Featured Collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "label": "t:sections.featured-collection.settings.collection.label",
      "id": "collection",
      "type": "collection"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": true,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}

{% endschema %}