<link rel="dns-prefetch" href="https://klaviyo.com"crossorigin>

{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<footer class="">

  <!-- Top -->

  <div class="md:pt-17 md:pb-14">

    <!-- Newsletter -->
    {%- if section.settings.newsletter_enable and section.settings.newsletter_list_id -%}
      <div class="flex flex-col items-center justify-center">
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 class="">{{ section.settings.newsletter_heading | escape }}</h2>
        {%- endif -%}

        <div id="footer-klaviyo" class="relative mt-8"
          x-data='klaviyo({ listId: {{ section.settings.newsletter_list_id | json }}, source: "footer" })'>

          <form @submit.prevent="submitForm" class="relative w-100 border-b border-black">
            <input
              type="email"
              name="email"
              x-model="email"
              class="w-full py-1 pr-8 placeholder:text-black bg-transparent"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              :autofocus="errors.length > 0"
              :aria-invalid="errors.length > 0"
              :aria-describedby="if (errors.length > 0) { 'ContactFooter-error' } else if (success) { 'ContactFooter-success' }"
              placeholder="{{ section.settings.newsletter_placeholder }}"
              required>

            <button :disabled='inFlight' type="submit" class="animate-arrow absolute right-0 top-1/2 -translate-y-1/2" aria-label="{{ 'newsletter.button_label' | t }}">
              {% render 'icon-arrow' %}
            </button>

          </form>

          <div id="ContactFooter-error"
          class="x-cloak absolute w-full top-full pt-2 left-0 right-0 transition-opacity duration-200"
          x-show="error"
          x-transition:enter-start="opacity-0"
          x-transition:leave-end="opacity-0">
            <span x-text="errors.length ? errors.join(' ') : '{{ section.settings.newsletter_error }}'"></span>
          </div>

          <div id="ContactFooter-success"
          class="x-cloak absolute w-full top-full pt-2 left-0 right-0 transition-opacity duration-200"
          x-show="success && !error"
          x-transition:enter-start="opacity-0"
          x-transition:leave-end="opacity-0">
            {{ section.settings.newsletter_success }}
          </div>
        </div>
      </div>
    {%- endif -%}


    <!-- Social -->
    {%- if section.settings.show_social -%}
      <ul class="space-x-3 ">
        {%- if settings.social_pinterest_link != blank -%}
          <li>
            <a href="{{ settings.social_pinterest_link }}" class="text-link" >
              {{ 'general.social.links.pinterest' | t }}
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <li>
            <a href="{{ settings.social_instagram_link }}" class="text-link" >
              {{ 'general.social.links.instagram' | t }}
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_tiktok_link != blank -%}
          <li>
            <a href="{{ settings.social_tiktok_link }}" class="text-link" >
              {{ 'general.social.links.tiktok' | t }}
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_facebook_link != blank -%}
          <li>
            <a href="{{ settings.social_facebook_link }}" class="text-link" >
              {{ 'general.social.links.facebook' | t }}
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_twitter_link != blank -%}
          <li>
            <a href="{{ settings.social_twitter_link }}" class="text-link" >
              {{ 'general.social.links.twitter' | t }}
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_tumblr_link != blank -%}
          <li>
            <a href="{{ settings.social_tumblr_link }}" class="text-link" >
              {{ 'general.social.links.tumblr' | t }}
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_snapchat_link != blank -%}
          <li>
            <a href="{{ settings.social_snapchat_link }}" class="text-link" >
              {{ 'general.social.links.snapchat' | t }}
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_youtube_link != blank -%}
          <li>
            <a href="{{ settings.social_youtube_link }}" class="text-link" >
              {{ 'general.social.links.youtube' | t }}
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_vimeo_link != blank -%}
          <li>
            <a href="{{ settings.social_vimeo_link }}" class="text-link" >
              {{ 'general.social.links.vimeo' | t }}
            </a>
          </li>
        {%- endif -%}
      </ul>
    {%- endif -%}

  </div>

  <!-- Bottom -->
  <div class="flex justify-between md:p-5">

    {%- if section.settings.menu != blank -%}
      <ul class="space-x-4 list-none">
        {%- for link in section.settings.menu.links -%}
          <li class="inline-block">
            <a href="{{ link.url }}" class="text-link">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <div>Copyright {{ 'now' | date: "%Y" }}&nbsp;<a href={{ routes.root_url }} class="text-link">{{ shop.name }}</a></div>

  </div>

</footer>

{% comment %}theme-check-enable UndefinedObject{% endcomment %}


{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "default": "Your email",
      "label": "Newsletter Placeholder"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "textarea",
      "id": "newsletter_success",
      "default": "Lorem ipsum dolor sit amet.",
      "label": "Newsletter Success Message"
    },
    {
      "type": "textarea",
      "id": "newsletter_error",
      "default": "There was an error, please try again.",
      "label": "Newsletter Error Message"
    },
    {
      "type": "text",
      "id": "newsletter_list_id",
      "label": "Klaviyo List ID"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "Menu"
    }
  ]
}
{% endschema %}
