<link rel="dns-prefetch" href="https://klaviyo.com"crossorigin>

{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<footer class="section-footer footer">

  <div class="">

    <!-- Newsletter -->
    {%- if section.settings.newsletter_enable and section.settings.newsletter_list_id -%}
      <div class="">
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 class="">{{ section.settings.newsletter_heading | escape }}</h2>
        {%- endif -%}

        <div id="footer-klaviyo" class="relative"
          x-data='klaviyo({ listId: {{ section.settings.newsletter_list_id | json }}, source: "footer" })'>

          <form @submit.prevent="submitForm" class="">
            <input
              type="email"
              name="email"
              x-model="email"
              class=""
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              :autofocus="errors.length > 0"
              :aria-invalid="errors.length > 0"
              :aria-describedby="if (errors.length > 0) { 'ContactFooter-error' } else if (success) { 'ContactFooter-success' }"
              placeholder="{{ section.settings.newsletter_placeholder }}"
              required>

            <button :disabled='inFlight' type="submit" class="animate-arrow"aria-label="{{ 'newsletter.button_label' | t }}">
              {% render 'icon-arrow' %}
            </button>

          </form>

          <div id="ContactFooter-error"
          class="x-cloak absolute w-full top-full pt-2 left-0 right-0 transition-opacity duration-200"
          x-show="error"
          x-transition:enter-start="opacity-0"
          x-transition:leave-end="opacity-0">
            <span x-text="errors.length ? errors.join(' ') : '{{ section.settings.newsletter_error }}'"></span>
          </div>

          <div id="ContactFooter-success"
          class="x-cloak absolute w-full top-full pt-2 left-0 right-0 transition-opacity duration-200"
          x-show="success && !error"
          x-transition:enter-start="opacity-0"
          x-transition:leave-end="opacity-0">
            {{ section.settings.newsletter_success }}
          </div>
        </div>
      </div>
    {%- endif -%}

    <!-- Blocks -->
    <div class="">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}

          {%- if block.settings.menu != blank -%}
            <ul class="" {{ block.shopify_attributes }}>
              {%- for link in block.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}" class="text-link">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

        {%- endfor -%}
      {%- endif -%}

      <!-- Social -->
      {%- if section.settings.show_social -%}
        <ul class="md:flex-1 space-y-3 " {{ block.shopify_attributes }}>
          {%- if settings.social_pinterest_link != blank -%}
            <li>
              <a href="{{ settings.social_pinterest_link }}" class="text-link" >
                {{ 'general.social.links.pinterest' | t }}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_instagram_link != blank -%}
            <li>
              <a href="{{ settings.social_instagram_link }}" class="text-link" >
                {{ 'general.social.links.instagram' | t }}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tiktok_link != blank -%}
            <li>
              <a href="{{ settings.social_tiktok_link }}" class="text-link" >
                {{ 'general.social.links.tiktok' | t }}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_facebook_link != blank -%}
            <li>
              <a href="{{ settings.social_facebook_link }}" class="text-link" >
                {{ 'general.social.links.facebook' | t }}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_twitter_link != blank -%}
            <li>
              <a href="{{ settings.social_twitter_link }}" class="text-link" >
                {{ 'general.social.links.twitter' | t }}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tumblr_link != blank -%}
            <li>
              <a href="{{ settings.social_tumblr_link }}" class="text-link" >
                {{ 'general.social.links.tumblr' | t }}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_snapchat_link != blank -%}
            <li>
              <a href="{{ settings.social_snapchat_link }}" class="text-link" >
                {{ 'general.social.links.snapchat' | t }}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_youtube_link != blank -%}
            <li>
              <a href="{{ settings.social_youtube_link }}" class="text-link" >
                {{ 'general.social.links.youtube' | t }}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_vimeo_link != blank -%}
            <li>
              <a href="{{ settings.social_vimeo_link }}" class="text-link" >
                {{ 'general.social.links.vimeo' | t }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      {%- endif -%}

    </div>
  </div>


  <div class="">
    Copyright {{ 'now' | date: "%Y" }}&nbsp;<a href={{ routes.root_url }} class="text-link">{{ shop.name }}</a>
  </div>
</footer>

{% comment %}theme-check-enable UndefinedObject{% endcomment %}


{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "default": "Your Email, Please",
      "label": "Newsletter Placeholder"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Emails that make you hungry",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "textarea",
      "id": "newsletter_success",
      "default": "Welcome to our kitchen.",
      "label": "Newsletter Success Message"
    },
    {
      "type": "textarea",
      "id": "newsletter_error",
      "default": "There was an error, please try again.",
      "label": "Newsletter Error Message"
    },
    {
      "type": "text",
      "id": "newsletter_list_id",
      "default": "UrhHdA",
      "label": "Klaviyo List ID"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
