{% layout 'password' %}
<div class="max-w-screen-md mx-auto w-full h-[100vh] flex items-center justify-center text-center body-lg">
  <div class="space-y-10">
    <h1 id="DialogHeading" class="h5">
      {{ 'general.password_page.login_form_heading' | t }}
    </h1>
    {%- form 'storefront_password', class: 'password-form space-y-5 ' -%}
      <div class="space-y-5 password-field field{% if form.errors %} password-field--error{% endif %}">
        <input
          type="password"
          name="password"
          id="Password"
          class="block w-full p-3 text-black placeholder-black text-center rounded-lg border border-blue"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        <label class="block visually-hidden" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
        {%- if form.errors -%}
          <div id="PasswordLoginForm-password-error" role="status">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="body-md">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
          </div>
        {%- endif -%}
      </div>
      <button name="commit" class="mt-4 password-button button button--outline">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>